# Nuxt
node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store

# Electron
electron-dist
debug.log
debug.log
*.log
debug.json
errors.json

Documents/eiko/upscaled/

nuxt-build/dev/index.mjs

nuxt-build/dev/index.mjs.map

nuxt-build/manifest/latest.json

nuxt-build/manifest/meta/dev.json

nuxt-build/nitro.json

nuxt-build/nuxt.d.ts

nuxt-build/tailwind.config.cjs

nuxt-build/manifest/meta/4fe283c9-1776-48db-8549-a2c832a69739.json

nuxt-build/nuxt-icon-client-bundle.mjs

nuxt-build/nuxt-icon-server-bundle.mjs

nuxt-build/nuxt.json

nuxt-build/nuxtui-tailwind.config.cjs

nuxt-build/prerender/chunks/_/error-500.mjs

nuxt-build/prerender/chunks/_/error-500.mjs.map

nuxt-build/prerender/chunks/_/renderer.mjs

nuxt-build/prerender/chunks/_/renderer.mjs.map

nuxt-build/prerender/chunks/build/client.manifest.mjs

nuxt-build/prerender/chunks/build/client.manifest.mjs.map

nuxt-build/prerender/chunks/routes/api/actions.mjs

nuxt-build/prerender/chunks/routes/api/actions.mjs.map

nuxt-build/prerender/chunks/routes/api/ai-models.mjs

nuxt-build/prerender/chunks/routes/api/ai-models.mjs.map

nuxt-build/prerender/chunks/routes/api/upscaler.mjs

nuxt-build/prerender/chunks/routes/api/upscaler.mjs.map

nuxt-build/prerender/chunks/virtual/_virtual_spa-template.mjs

nuxt-build/prerender/chunks/virtual/_virtual_spa-template.mjs.map

nuxt-build/prerender/index.mjs

nuxt-build/prerender/index.mjs.map

nuxt-build/tsconfig.json

nuxt-build/types/build.d.ts

nuxt-build/types/imports.d.ts

nuxt-build/types/plugins.d.ts

nuxt-build/ui.colors.d.ts

nuxt-build/ui.colors.mjs
